@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 85px;
}

html {
  scroll-behavior: smooth !important;
}

::selection {
  background: rgb(86, 141, 74);
  color: white;
}
